@import "../../assets/sass/base";

.btn {
    color: $light-text-color;
    background-color: $brand-primary-color;
    outline: none;
    border: none;
    cursor: pointer;
    
    &-lg {
        font-size: 2rem;  
        padding: 2rem 6rem;
        border-radius: 6.2rem;
    }

    &-md {
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        border-radius: 3.6rem;

        @media (max-width: map-get($breakpoint, tablet)) {
            
        }

        @media (max-width: map-get($breakpoint, mobile)) {
            font-size: 1.4rem;
            padding: 1.1rem 3.2rem;
            border-radius: 3rem;
        }

    }

    &-sm {
        font-size: 1.4rem;
        padding: 1.1rem 3.2rem;
        border-radius: 3rem;
    }

    &-outline-primary{
        border: 2px solid $brand-primary-color;
        background-color: transparent;
        color: $brand-primary-color;
    }

    &-secondary {
        background-color: $brand-secondary-color;
        color: $dark-text-color;
        border: none;
        font-weight: 600;
    }

    &-tertiary {
        background-color: $brand-tertiary-color;
        color: $light-bg-color;
        border: none;
        font-weight: 600;
    }
}

