@import "../../../assets/sass/base";
@import "../../../assets/sass/mixins";


@mixin text-style {
    font-size: 1.6rem;
    text-decoration: none;
    color: $dark-text-color;
    font-weight: 400;
    margin-bottom: 1rem;
    display: inline-block;
}

.search-results {
    margin-bottom: 1rem;
    &__text {
        @include h-style("h3");
        margin-bottom: 1rem;
    }

    &__sort {
        
    }

    &__right-display {
        font-size: 1.4rem;
        // align-self: flex-end;
        margin-right: auto;
    }

    &__clear-filters {
        font-size: 1.2rem;
        cursor: pointer;
        margin-left: 1rem;
    }
}

.courses {
    margin-top: $header-height;
    background: $light-bg-color;

    &__wrap {

    }

    &__heading {
        margin-bottom: $section-size--sm;
        @include h-style("h2");
        text-align: center;
    }

    &__search-results {
        display: flex;
        &-right {
            margin-left: auto;
            font-size: 1.4rem;
        }
        margin-bottom: 1rem;;
       
    }

    &__content {
        display: flex;
    }

    &__filter-bar {
        width: 25%;
        &-item {

            margin-bottom: 2rem;

            &-title {
                font-size: $main-text--md;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }


        .status-filter {

            &__list {
                @include list-reset;
            }
    
            &__item {
    
    
                &-link {
                 @include text-style;
                }
            }
    
        }
    
        .authors-filter {
    
            &__list {
                @include list-reset;
            }
    
            &__item {
    
                &-link {
                    @include text-style;
                }
            }
    
        }

        .course-level {
            &__list {
                @include list-reset;
            }
        }

        .course-by-price {
            &__list {
                @include list-reset;
            }
        }

        .course-topic {

            &__list {
                @include list-reset;
            }
        }
    }


    &__list {
        width: 75%;
        
    }

    @media (max-width: map-get($breakpoint, desktop)) {
        padding: 0rem 2rem;
    }

    @media (max-width: map-get($breakpoint, tablet-lg)) {
        padding: 0rem 2rem;
    }

    
    @media (max-width: map-get($breakpoint, tablet)) {
      
        padding: 0rem 2rem;
    }

    @media (max-width: map-get($breakpoint, mobile)) {
        &__filter-bar {
            display: none;
        }

        &__list {
            width: 100%;
        }
    }

    // @media (max-width: map-get($breakpoint, mobile-sm)) {
    //     &__filter-bar {
    //         display: none;
    //     }

    //     &__list {
    //         width: 100%;
    //     }
    // }
}