.orders {
    &__wrap {

    }

    &__filter {
        margin: 1rem 0rem;
    }

    .sub-header__wrap {

    }

    &__show-result {

        margin: 2rem 0rem;
        &-text {
            background-color: #fff;
            padding: 1rem;
            border-radius: 4rem;
            margin-right: 1rem;
        }
    }
}