@import "../../../../../../../assets/sass/base";

.lesson-item {
    display: flex;
    padding: 1rem;
    background-color: $light-bg-color;
    border-left: 4px solid transparent;
    cursor: pointer;

    &:hover {
        border-left: 4px solid $brand-primary-color;
    }

    &.playing {
        border-left: 4px solid $brand-primary-color;
    }

    &__icon {

        &-icon {
            // color: red;
        }
    }

    &__lengths {
        margin-left: 0.8rem;
    }

    &__status {
        background-color: $brand-tertiary-color;
        color: #fff;
        font-weight: 400;
        padding: 0rem 0.2rem;
    }

    &__lenghs-minutes {

    }

    &__name {
        margin-left: 0.8rem;
    }

    &__is-finished {
        margin-left: auto;

        &-icon {
            color: $brand-tertiary-color;
        }
    }

}