@import "../../../assets/sass/base";
@import "../../../assets/sass/mixins";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba($brand-primary-color, 0.3);
    &__wrapper {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        padding: 1rem 0rem;
        font-size: 1.7rem;
        font-family: $text-font;
        color: $brand-primary-color;
    }

    
    &__logo {
       
    }
    

    &__nav {
       display: flex;
       align-items: center;
    }

    &__nav-list {
        @include list-reset;
        display: flex;
        margin-right: 2rem;
    }

    &__nav-item {
       
        color: inherit;
        margin: 0rem 1.2rem;
        display: flex;
        align-items: center;
        &--cart {
            margin-right: 4rem;
            margin-left: 0rem;
        }
        &-user-icon {
            
        }
    }

    &__nav-link {
       
        color: inherit;
        text-decoration: none;

        &-icon {
           font-size: 2.2rem;
        }
    }

    &__categories {
        border-top: 1px solid #ccc;
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-item {
            margin-right: 2rem;
            font-size: 1.6rem;
            padding: 1.2rem 0rem;
            font-weight: 400;
            text-transform: capitalize;
            a {
                color: inherit;
                text-decoration: none;
                text-transform: capitalize;
            }

           
        }
    }

    @media (max-width: map-get($breakpoint, tablet-lg)) {
        &__nav {
            &-list {
                display: none;
            }
        }


        &__wrapper{
            width: 100%;
        }
    }

    @media (max-width: map-get($breakpoint, tablet)) {
        // Adjust styles for tablet

        // width: 768px;

        &__wrapper {
            width: 100%;
            padding: 0rem 2rem;
        }

        &__nav {
            &-list {
                display: none;
            }

            &-item {
               &--cart {

               }
            }
        }
      }
    
    @media (max-width: map-get($breakpoint, mobile-sm)) {
        // Adjust styles for mobile
            width: 375px;
            &__wrapper {
                width: 375px;
            }

            &__search {
                display: none;
            }

            &__logo {
                margin-left: 2rem;
            }

            &__wrapper {
                justify-content: unset;
            }


            &__nav {
                &-item {

                    &--user {
                        margin-left: 3rem;
                    }
                }

            }

            &__auth {
                display: none;
            }
      }

}

