@import "../../../../assets/sass/base";

.course-item {
    position: relative;
    box-shadow: 0 0 1px rgba($brand-primary-color, 0.4);
    margin-bottom: 1.6rem;
    cursor: pointer;

    &__title {
        @include h-style("h3");

        &--courses-page {
            height:  6.5rem; /* Chiều cao để hiển thị dòng text */
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;  /* Số dòng hiển thị lên */
        }
    }

    &__process {

    }

    &__desc {
        color: rgba($color: #000000, $alpha: 0.8);
        font-weight: 400;
        font-family: $text-font;
        font-size: $main-text--md;
        line-height: 1.4;
        margin: 2rem 0rem;
        font-size: 1.5rem;

        height:  9rem; /* Chiều cao để hiển thị dòng text */
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;  /* Số dòng hiển thị lên */
    }

    &__img {
        padding-bottom: 56.25%;
        filter: brightness(0.8);
        &:hover {
            filter: none;
        }
    }

    &__content {
        padding: 1rem;
        background-color: #fff;
    }

    &__title {
        
    }

    &__process {

    }
    &__author {
        display: flex;
        align-items: center;
        &-img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        &-name {
            margin-left: 1rem;
            font-size: 1.5rem;
            color: rgba(black, 0.6);
            font-weight: 500;
        }
    }
 

    &__enrolls {
        margin-top: 1rem;
      &-btn {
        width: 100%;

        &--free {
            background-color: $dark-bg-color;
            color: $light-text-color;
        }
      }
    }
   

    &__prices {
        
        display: flex;
        align-items: center;
        // justify-content: space-around;

        &-old {
            margin-left: auto;
            color: rgba($color: #000000, $alpha: 0.4);
            text-decoration: line-through;
        }

        &-new {
            margin-left: 1rem;
            font-size: 1.8rem;
        }

        &-free {
            margin-left: auto;
        }
    }
}