@import "../../../../assets/sass/base";

.view-cart {

    &__list {
        &-item {

        }

        &-item-price {
            &-text {

            }

            &-icon {
                margin-left: 1rem;
            }
        }
    }

    @media (max-width: map-get($breakpoint, mobile)) {
        &__list {

            &-item {
                border: 1px solid #ccc;
                margin-top: 1rem;
                padding: 1rem;

                &-info {
                    margin-top: 1rem;

                    &-name {
                    }
                }

            }
        }
    }

    @media (max-width: map-get($breakpoint, tablet)) {
        
    }

}