@import '../../../assets/sass/base';

.subscribe-course {
    margin-top: $header-height;
    &__wrapper {
        padding: 2rem;
    }
    &__title {
        @include h-style('h3');
        
    }

    &__btn {
        background: rgba($color: #000000, $alpha: 0.6);
        color: #fff;
    }
}