@import "../../../assets/sass/base";

.profile {
    margin-top: $header-height;
    &__wrap {

    }

    &__header {
        padding-top: 2.5rem;
        background-color: $dark-bg-color;
        color: $light-text-color;
        &-wrap {

        }

        &-item {
            text-align: center;
            &-img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
            }
            &-icon {
                display: flex;
                justify-content: center;
                font-size: 4rem;
                margin-bottom: 1.5rem;
            }

            &-number {
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }

            &-text {
                text-transform: uppercase;
                font-weight: 700;
            }

            &-name {
                display: flex;
                align-items: center;
                justify-content: center;
                &-text {
                    font-size: 1.8rem;
                }

                &-badge {
                    background-color: $brand-primary-color;
                    padding: 0.5rem;
                    margin-left: 1rem;
                }
            }

            &-btn-wrap {
                margin: 3rem 0rem 1.5rem;
            }
        }
    }

    &__tabs {
        justify-content: center;
     
        &-bar {
            

            .ant-tabs-nav {
                background-color: $brand-primary-color;
            }

            .ant-tabs-tab-btn {
                color: $light-text-color;
                font-size: 2rem;
            }

            .tab-item {
                padding: 0rem 4rem;
                &__text {
                    text-align: center;
                }

                &__icon {
                    margin-right: 0!important;
                    font-size: 3rem;
                }
            }
        }
    }

    @media (max-width: map-get($breakpoint, tablet)) {
        &__header {
            &-item{
                margin-bottom: 2rem;
                &-icon {
                }
            }
        }
    }

    @media (max-width: map-get($breakpoint, mobile)) {
        
    }

}